<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/bobotNilai.css">
        <title>Bobot Nilai</title>
        <script src="/js/bobot.js" defer></script>
        
    </head>

    <body>
        <%- include('header') %>
        <main>
            <div class="dropdownContainerBobotNilai">
                <select id="semester-dropdown" name="semester">
                    <option value="GANJIL2023-2024">GANJIL 2023/2024</option>
                    <option value="GENAP2023-2024">GENAP 2023/2024</option>
                </select>
            </div>

            <div class="dropdownContainerBobotNilai">
                <select id="skripsi-dropdown" name="skripsi">
                    <option value="skripsi-1">Skripsi 1</option>
                    <option value="skripsi-2">Skripsi 2</option>
                </select>
            </div>

            <div id="bobotContent">
                    <table id="table1">
                        <thead>
                            <tr>
                                <th id="noBobot">No</th>
                                <th id="komponen">Komponen</th>
                                <th id="bobot">Bobot Nilai (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                
                    <table id="table2">
                        <thead>
                            <tr>
                                <th id="noBobot">No</th>
                                <th id="peran">Peran</th>
                                <th id="bobot">Bobot Nilai (%)</th>
                            </tr>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                
                    <h3 id="tableNone">Pilih Dropdown!</h3>
            </div>

            <div class="buttonContainer">
                <button id="cancelButton">Cancel</button>
                <button id="submitButton">Submit</button>
            </div>
        </main>
    </body>
</html>