<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Catatan Sidang</title>
    <link rel="stylesheet" href="../css/catatanSidang.css">
    <script src="js/catatanSidang.js" defer></script>
</head>
<body>
    <%- include('header') %>
    <main>
        <div class="kiri">
            <form class="input" method="post" action="/catatanSidang">
                <p>Tahun Akademik</p>
                <select name="thnAkad" id="thnAkad">
                    <% for (let i=0; i<catSidang.length; i++) { %>
                        <option value="<%= catSidang[i].semesterTahunAkademik %>"><%= catSidang[i].semesterTahunAkademik %></option>
                    <% } %>
                </select>

                <p>Skripsi ke-</p>
                <select name="sidangKe" id="sidangKe" disabled required></select>

                <% if(dosenMhs == 1){ %>
                <p>NPM Mahasiswa</p>
                <select name="npmMhs" id="npmMhs" disabled required>
                </select>
                <% } %>

                <button id="cari" value="cari" disabled>Search</button>
            </form>

            <% if (cari == true) { %>
            <div class="result">
                <p>Tahun Akademik</p>
                <p id="thnAkad"><%= catatan[0].semesterTahunAkademik %></p>
                <p>Skripsi ke-</p>
                <p id="skripsiKe"><%= catatan[0].sidangKe %></p>
                <p>Tanggal</p>
                <p id="htgl"><%= catatan[0].tanggal %></p>
                <p>Waktu</p>
                <p id="waktu"><%= catatan[0].waktu %></p>
                <p>No Ruang</p>
                <p id="ruang"><%= catatan[0].ruang %></p>
                <p>NPM Mahasiswa</p>
                <p id="npm"><%= catatan[0].nomorInduk %></p>
                <p>Nama Mahasiswa</p>
                <p id="namaMhs"><%= catatan[0].namaMhs %></p>
                <p>Judul Skripsi</p>
                <p id="judulSkripsi"><%= catatan[0].judul %></p>
                <p>Pembimbing Utama</p>
                <p id="pb1"><%= catatan[0].namaPembimbing %></p>
                <p>Penguji 1</p>
                <p id="pj1"><%= catatan[0].namaPenguji1 %></p>
                <p>Penguji 2</p>
                <p id="pj2"><%= catatan[0].namaPenguji2 %></p>
            </div>
            <% } %>
        </div>
        
        <% if (cari == true) { %>
        <form class="kanan">
            <p>Catatan:</p>
            <% if (bisaEdit == true) { %>
                <textarea name="catatan" id="catatan" placeholder="Masukkan catatan sidang..."></textarea>
                <p id="catKosong">Catatan sidang masih kosong! Masukkan "-" bila tidak ada catatan tentang sidang!</p>
                <div class="buttons">
                    <button id="submit" value="submit" disabled>Submit</button>
                </div>
            <% } else { %>
                <p name="catatan" id="catatan"><%= catatan[0].isiCatatan %></p>
            <% } %>
        </form>
        <% } %>
    </main>
</body>
</html>