<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/header.css">
    <script src="../js/header.js" defer></script>
    <title>Header</title>
</head>
<body> 
    <header>
        <div class="bar">
            <img src="../assets/logoIF.png" id="logoif">
            <div class="barpilihan">
                <a name="jadwal" href="/jadwal">Jadwal Sidang</a>
                <a name="catatanSidang" href="/catatanSidang">Catatan Sidang</a>
                <a name="nilai" href="/nilai">Nilai</a>
                <a name="lembarBAP" href="/lembarBAP">Lembar BAP</a>
                <% if (cekKoordinator == true) { %>
                <a name="bobotNilai" href="/bobotNilai">Bobot Nilai</a>
                <% } %>
            </div>
        </div>
        <div class="barprofile">
            <a name="username" href="/profile"><%= nama %></a>
            <img src="../assets/profile.png">
            <a name="logout" href="/">Logout</a>
        </div>
    </header>
</body>
</html>