<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../css/jadwal.css">
        <title>Jadwal Sidang</title>
        <script src="/js/jadwal.js" defer></script>
    </head>
    <body>
        <%- include('header') %>
        <main>
            <!-- tampilan halaman jadwal -->
            <div class="box" id="viewJadwal">
                <div class="fill" id="fillViewJadwal">
                    <div class="dropdownContainerJadwal">
                        <select id="semester-dropdown" name="semester"></select>
                    </div>
        
                    <div class="dropdownContainerJadwal">
                        <select id="skripsi-dropdown" name="skripsi">
                            <option value="all">Semua</option>
                        </select>
                    </div>

                    <% if (cekKoordinator == true) { %>
                    <div class="buttonContainer" id="add">
                        <button id="addButton">+ Add</button>
                    </div>
                    <% } %>

                    <table id="jadwal">
                        <thead>
                            <th class="noSidang">No.</th>
                            <th class="skripsiKe">Skripsi Ke-</th>
                            <th class="tanggalSidang">Tanggal</th>
                            <th class="waktuSidang">Waktu</th>
                            <th class="ruangSidang">Ruang</th>
                            <th class="npmMhsSidang">NPM</th>
                            <th class="namaMhsSidang">Nama</th>
                            <th class="judulSkripsi">Judul Skripsi</th>
                            <th class="detail">Lihat Detail</th>
                        </thead>
                        <tbody>
                        </tbody>
                    </table>
                </div>
            </div>

            <!-- pop up tambah jadwal -->
            <div class="box" id="addJadwal">
                <div class="fill" id="fillAddJadwal">
                    <h2>Tambah Jadwal Sidang</h2>
                    <form id="manual" method="post" action="/addJadwal">
                        <div id="inputForm">
                            <label class="label" for="semester">Semester</label>
                            <select class="input" id="semester-dropdown" name="semester" required></select>
                            <label class="label" for="skripsiKe">Skripsi ke-</label>
                            <select class="input" id="skripsi-dropdown" name="skripsi" required disabled>
                                <option value="1">Skripsi 1</option>
                                <option value="2">Skripsi 2</option>
                            </select>
                            <label class="label" for="tanggalSidang">Tanggal Sidang</label>
                            <input class="input" type="date" name="tanggalSidang" value="" required disabled>
                            <label class="label" for="waktuSidang">Waktu Sidang</label>
                            <input class="input" type="time" name="waktuSidang" value="" required disabled>
                            <label class="label" for="ruangSidang">Ruang Sidang</label>
                            <select class="input" id="ruangSidang-dropdown" name="ruangSidang" required disabled></select>
                            <label class="label" for="npmMhs">NPM Mahasiswa</label>
                            <select class="input" id="npmMhs-dropdown" name="npmMhs" required disabled></select>
                            <label class="label" for="namaMhs">Nama Mahasiswa</label>
                            <input class="input" type="text" name="namaMhs" value="" required disabled>
                            <label class="label" for="judulSkripsi">Judul Skripsi</label>
                            <input class="input" type="text" name="judulSkripsi" value="" required disabled>
                            <label class="label" for="pbu">Pembimbing Utama</label>
                            <select class="input" id="pbu-dropdown" name="pbu" required disabled></select>
                            <label class="label" for="pu1">Penguji 1</label>
                            <select class="input" id="pu1-dropdown" name="pu1" required disabled></select>
                            <label class="label" for="pu2">Penguji 2</label>
                            <select class="input" id="pu2-dropdown" name="pu2" required disabled></select>
                        </div>
                        <div class="buttonContainer" id="batalUnggah">
                            <button id="batal" type="button">Cancel</button>
                            <button id="unggah" type="submit" disabled>Submit</button>
                        </div>
                    </form>
                </div>
            </div>
            <!-- pop up detail jadwal -->
            <div class="box" id="detailJadwal">
                <div class="fill" id="fillDetailJadwal">
                    <h2>Detail Jadwal</h2>
                        <div id="detail">
                            <p class="label" id="skripsiKe">Skripsi ke-</p>
                            <p class="isi" id="skripsiKe"></p>
                            <p class="label" id="semester">Semester</p>
                            <p class="isi" id="semester"></p>
                            <p class="label" id="tanggalSidang">Tanggal Sidang</p>
                            <p class="isi" id="tanggalSidang"></p>
                            <p class="label" id="waktuSidang">Waktu Sidang</p>
                            <p class="isi" id="waktuSidang"></p>
                            <p class="label" id="ruangSidang">Ruang Sidang</p>
                            <p class="isi" id="ruangSidang"></p>
                            <p class="label" id="npmMhsSidang">NPM Mahasiswa</p>
                            <p class="isi" id="npmMhsSidang">></p>
                            <p class="label" id="namaMhsSidang">Nama Mahasiswa</p>
                            <p class="isi" id="namaMhsSidang"></p>
                            <p class="label" id="judulSkripsi">Judul Skripsi</p>
                            <p class="isi" id="judulSkripsi"></p>
                            <p class="label" id="pbu">Pembimbing Utama</p>
                            <p class="isi" id="pbu"></p>
                            <p class="label" id="pu1">Penguji 1</p>
                            <p class="isi"id="pu1"></p>
                            <p class="label" id="pu2">Penguji 2</p>
                            <p class="isi" id="pu2"></p>
                        </div>
                        <div class="buttonContainer" id="tutup">
                            <button id="tutup">Close</button>
                        </div>
                </div>
            </div>
        </main>
    </body>
</html>