<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/lembarBAP.css">
    <script src="/js/lembarBAP.js" defer></script>
    <title>Lembar BAP</title>
</head>
<body>
    <%- include('header') %> 

<main>
    <h1>Lembar BAP</h1>

    <!-- dropdown -->
            <div class="box" id="viewJadwal">
                <div class="fill" id="fillViewJadwal">
                    <div class="dropdownContainerJadwal">
                        <select id="semester-dropdown" name="semester"></select>
                    </div>
        
                    <div class="dropdownContainerJadwal">
                        <select id="skripsi-dropdown" name="skripsi">
                            <option value="all">Semua</option>
                        </select>
                    </div>


            <!-- table -->
            <% if (dosen){ %>
                <!-- Tabel Dosen -->
                <table id="tabelDosen">
                    <thead>
                        <th id="noSidang">No.</th>
                        <th id="npmMhsSidang">NPM</th>
                        <th id="namaMhsSidang">Nama</th>
                        <th id="skripsiKe">Skripsi Ke-</th>
                        <th id="thnAkademik">Tahun Akademik</th>
                        <th id="judulSkripsi">Judul Skripsi</th>
                        <th id="download">Download</th>
                        <th id="upload">Upload</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            <% } else { %>
                <!-- Mahasiswa -->
                <table id="tabelMhs">
                    <thead>
                        <th id="noSidang">No.</th>
                        <th id="skripsiKe">Skripsi Ke-</th>
                        <th id="thnAkademik">Tahun Akademik</th>
                        <th id="judulSkripsi">Judul Skripsi</th>
                        <th id="download">Download</th>
                        <th id="upload">Upload</th>
                    </thead>
                    <tbody>
                    </tbody>
                </table>

            <% } %>

        </div>
    </div>

</main>

</body>

</html>

