<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/login.css">
    <script src="/js/login.js" defer></script>
    <title>Log In</title>
</head>
<body>
    <form method="post" action="/login">
        <div id="head">
            <img src="../assets/logoIF.png" id="logoif">
            <h2>Selamat Datang di Sistem Persiapan Penjadwalan Skripsi</h2>
        </div>
        <p>Masukkan username dan password Anda</p>
        <label for="username">Username</label>
        <input type="text" name="username">
        <label for="password">Password</label>
        <input type="password" name="password">
        <button>Login</button>
        <% if (cek) { %>
            <p id = "error">Username dan/atau password yang dimasukkan salah!</p>
        <% } %>
    </form>
</body>
</html>