<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/editNilai.css">
    <script src="js/nilai.js" defer></script>
    <title>Edit Nilai</title>
</head>
<body>
    <%- include('header') %>

    <main>
        <form id="searching" method="post" action="/nilai">
            <div class="dropdownContainerEditNilai">
                <select id="semesterDropdown" name="semester">
                    <% for (let i = 0; i < semesters.length; i++) { %>
                        <option value="<%= semesters[i].semesterTahunAkademik %>"><%= semesters[i].semesterTahunAkademik %></option>
                    <% } %>
                </select>
            </div>
        
            <div class="dropdownContainerEditNilai">
                <select id="skripsiDropdown" name="skripsi" disabled required>
                </select>
            </div>

            <% if(idDosenMhs == 1){ %>
                <div class="dropdownContainerEditNilai">
                    <select id="npmDropdown" name="npm" disabled required>
                    </select>
                </div>
            <% } %>

            <button id="cari" value="cari" disabled>Search</button>
        </form>
        <form>
            <% if (definedVariable == true && cekStatus == 1) { %>
                <% if(komponenNilai[0].sidangKe == 1){ %>
                <table class="table-nilai" id="tableNilai">
                    <thead>
                        <tr>
                            <th id="noEditNilai">No</th>
                            <th id="komponenNilaiEdit">Komponen Nilai</th>
                            <th id="bobotNilaiEdit">Bobot (%)</th>
                            <th id="nilaiEditNilai">Nilai</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < komponenNilai.length; i++) { %>
                            <tr id="<%= i+1 %>">
                                <td><%= i + 1 %></td>
                                <td class="isiKomponenNilai"><%= komponenNilai[i].komponen_nilai %></td>
                                <td><%= komponenNilai[i].komponen_bobot %></td>
                                <% if (userRole == 'K' || cekKoordinator == true && userRole !== 'PB' && userRole !== 'PJ1' && userRole !== 'PJ2') { %>
                                    <td>
                                        <input class="inputNilai" 
                                            id="<%= komponenNilai[i].idNilai %>" 
                                            name="nilai"
                                            type="number" 
                                            value= <%= komponenNilai[i].nilai %>
                                            <% if (komponenNilai[i].idPeran === 2 || komponenNilai[i].idPeran === 3 || komponenNilai[i].idPeran === 4 || komponenNilai[i].nilai != 0) { %>
                                                    disabled
                                            <% } %>
                                        >
                                    </td>
                                <% } else if (userRole === 'PB' && cekKoordinator == false) { %>
                                    <td>
                                        <input class="inputNilai" 
                                            id="<%= komponenNilai[i].idNilai %>" 
                                            name="nilai"
                                            type="number" 
                                            value= <%= komponenNilai[i].nilai %>
                                            <% if (komponenNilai[i].idPeran === 1 || komponenNilai[i].idPeran === 2 || komponenNilai[i].idPeran === 3 || komponenNilai[i].nilai != 0) { %>
                                                    disabled
                                            <% } %>
                                        >
                                    </td>
                                    <% } else if (userRole === 'PB' && cekKoordinator == true) { %>
                                        <td>
                                            <input class="inputNilai" 
                                                id="<%= komponenNilai[i].idNilai %>" 
                                                name="nilai"
                                                type="number" 
                                                value= <%= komponenNilai[i].nilai %>
                                                <% if (komponenNilai[i].idPeran === 3 || komponenNilai[i].idPeran === 2 || komponenNilai[i].nilai != 0) { %>
                                                        disabled
                                                <% } %>
                                            >
                                        </td>
                                <% } else if ((userRole == 'PJ1' || userRole === 'PJ2') && cekKoordinator == false) { %>
                                    <td>
                                        <input class="inputNilai" 
                                            id="<%= komponenNilai[i].idNilai %>" 
                                            name="nilai"
                                            type="number" 
                                            value= <%= komponenNilai[i].nilai %>
                                            disabled
                                        >
                                    </td>
                                    <% } else if (cekKoordinator == true) { %>
                                        <td>
                                            <input class="inputNilai" 
                                                id="<%= komponenNilai[i].idNilai %>" 
                                                name="nilai"
                                                type="number" 
                                                value= <%= komponenNilai[i].nilai %>
                                            >
                                        </td>
                                    <% } else { %>
                                    <td>
                                        <input class="inputNilai" 
                                            id="<%= komponenNilai[i].idNilai %>" 
                                            name="nilai"
                                            type="number" 
                                            value= <%= komponenNilai[i].nilai %>
                                            disabled
                                        >
                                    </td>
                                <% } %>
                            </tr>
                        <% } %>                    
                    </tbody>
                </table> 

                <% } else if (komponenNilai[0].sidangKe == 2) { %>
                <table class="table-nilai" id="tableNilai2">
                    <thead>
                        <tr>
                            <th id="noEditNilai">No</th>
                            <th id="komponenNilaiEdit">Komponen Nilai</th>
                            <th id="bobotNilaiEdit">Bobot (%)</th>
                            <th id="nilaiEditNilai">Nilai</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% for (let i = 0; i < komponenNilai.length; i++) { %>
                            <tr>
                                <td><%= i + 1 %></td>
                                <td class="isiKomponenNilai"><%= komponenNilai[i].komponen_nilai %></td>
                                <td><%= komponenNilai[i].komponen_bobot %></td>
                                <% if (userRole == 'K' || cekKoordinator == true && userRole !== 'PB' && userRole !== 'PJ1' && userRole !== 'PJ2') { %>
                                    <td>
                                        <input class="inputNilai" 
                                            id="<%= komponenNilai[i].idNilai %>" 
                                            name="nilai"
                                            type="number" 
                                            value= <%= komponenNilai[i].nilai %>
                                            
                                            <% if (komponenNilai[i].idPeran === 2 || komponenNilai[i].idPeran === 3 || komponenNilai[i].idPeran === 4 || komponenNilai[i].nilai != 0) { %>
                                                    disabled
                                            <% } %>
                                        >
                                    </td>
                                <% } else if (userRole === 'PB' && cekKoordinator == false) { %>
                                    <td>
                                        <input class="inputNilai" 
                                            id="<%= komponenNilai[i].idNilai %>" 
                                            name="nilai"
                                            type="number" 
                                            value= <%= komponenNilai[i].nilai %>
                                            <% if (komponenNilai[i].idPeran ===  1 ||komponenNilai[i].idPeran ===  2 || komponenNilai[i].idPeran === 3 || komponenNilai[i].nilai != 0) { %>
                                                    disabled
                                            <% } %>
                                        >
                                    </td>
                                    <% } else if (userRole === 'PB' && cekKoordinator == true) { %>
                                        <td>
                                            <input class="inputNilai" 
                                                id="<%= komponenNilai[i].idNilai %>" 
                                                name="nilai"
                                                type="number" 
                                                value= <%= komponenNilai[i].nilai %>
                                                <% if (komponenNilai[i].idPeran ===  2 || komponenNilai[i].idPeran === 3 || komponenNilai[i].nilai != 0) { %>
                                                        disabled
                                                <% } %>
                                            >
                                        </td>
                                <% } else if ((userRole == 'PJ1' || userRole === 'PJ2') && cekKoordinator == false ) { %>
                                    <td>
                                        <input class="inputNilai" 
                                            id="<%= komponenNilai[i].idNilai %>" 
                                            name="nilai"
                                            type="number" 
                                            value= <%= komponenNilai[i].nilai %>
                                            <% if (komponenNilai[i].idPeran === 1 ||komponenNilai[i].idPeran === 4 ||komponenNilai[i].idPeran === 3 || komponenNilai[i].nilai != 0) { %>
                                                disabled
                                            <% } %>
                                        >
                                    </td>
                                    <% } else if (userRole == 'PJ1' && cekKoordinator == true ) { %>
                                        <td>
                                            <input class="inputNilai" 
                                                id="<%= komponenNilai[i].idNilai %>" 
                                                name="nilai"
                                                type="number" 
                                                value= <%= komponenNilai[i].nilai %>
                                                <% if (komponenNilai[i].idPeran === 4 ||komponenNilai[i].idPeran === 3 || komponenNilai[i].nilai != 0) { %>
                                                    disabled
                                                <% } %>
                                            >
                                        </td>
                                        <% } else if (userRole === 'PJ2' && cekKoordinator == false ) { %>
                                            <td>
                                                <input class="inputNilai" 
                                                    id="<%= komponenNilai[i].idNilai %>" 
                                                    name="nilai"
                                                    type="number" 
                                                    value= <%= komponenNilai[i].nilai %>
                                                    <% if (komponenNilai[i].idPeran === 1 ||komponenNilai[i].idPeran === 4||komponenNilai[i].idPeran === 2 || komponenNilai[i].nilai != 0) { %>
                                                        disabled
                                                    <% } %>
                                                >
                                            </td>
                                            <% } else if (userRole == 'PJ2' && cekKoordinator == true ) { %>
                                                <td>
                                                    <input class="inputNilai" 
                                                        id="<%= komponenNilai[i].idNilai %>" 
                                                        name="nilai"
                                                        type="number" 
                                                        value= <%= komponenNilai[i].nilai %>
                                                        <% if (komponenNilai[i].idPeran === 4 ||komponenNilai[i].idPeran === 2 || komponenNilai[i].nilai != 0) { %>
                                                            disabled
                                                        <% } %>
                                                    >
                                                </td>
                                <% } else { %>
                                    <td>
                                        <input class="inputNilai" 
                                            id="<%= komponenNilai[i].idNilai %>" 
                                            name="nilai"
                                            type="number" 
                                            value= <%= komponenNilai[i].nilai %>
                                            disabled
                                        >
                                    </td>
                                <% } %>
                            </tr>
                        <% } %>

                    </tbody>
                </table> 
                <% } %>

                <div class="buttonContainer">
                    <button id="cancelButton">Cancel</button>
                    <button id="submitButton">Submit</button>
                </div>

            <% } else if (definedVariable == true && cekStatus == 0) { %>
                <% if(liatNilai[0].sidangKe == 1){ %>
                    <table>
                        <thead>
                            <tr>
                                <th id="noEditNilai">No</th>
                                <th id="komponenNilaiEdit">Komponen Nilai</th>
                                <th id="nilaiAEditNilai">Nilai Akhir
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let sumBobot3 = 0.0; %>
                            <% for (let i = 0; i < liatNilai.length; i++) { %>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td class="isiKomponenNilai"><%= liatNilai[i].namaKomponen %></td>
                                    <td><%= liatNilai[i].nilaiRataRata %></td>
                                </tr>
                                <% sumBobot3 += liatNilai[i].nilaiRataRata; %>
                            <% } %>
                            <tr>
                                <td class="noKosongEditNilai"></td>
                                <td id="totalEditNilai">Total</td>
                                <td> <%= sumBobot3 %> </td>
                            </tr>
                        </tbody>
                    </table>
                <% } else if (liatNilai[0].sidangKe == 2) { %>
                    <table>
                        <thead>
                            <tr>
                                <th id="noEditNilai">No</th>
                                <th id="komponenNilaiEdit">Peran</th>
                                <th id="nilaiAEditNilai">Nilai Akhir
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let sumBobot3 = 0.0; %>
                            <% for (let i = 0; i < liatNilai.length; i++) { %>
                                <tr>
                                    <td><%= i + 1 %></td>
                                    <td class="isiKomponenNilai"><%= liatNilai[i].namaPeran %></td>
                                    <td><%= liatNilai[i].nilaiRataRata %></td>
                                </tr>
                                <% sumBobot3 += liatNilai[i].nilaiRataRata; %>
                            <% } %>
                            <tr>
                                <td class="noKosongEditNilai"></td>
                                <td id="totalEditNilai">Total</td>
                                <td> <%= sumBobot3 %> </td>
                            </tr>
                        </tbody>
                    </table>
                <% } %>
            <% } %>
            
        </form>
    </main>
</body>
</html>
