<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/profile.css">
    <title>Profil</title>
</head>
<body>
    <%- include('header') %> 

    <center>
        <h1>Profil</h1>
        
        <main>
            <form method="post" action="/userProfileSettings">
                <div id="photo">
                    <img src="../assets/profile.png">
                </div>

                <% if (dosen){ %>
                    <label for="npm">NIK</label>
                <% }else{ %>
                    <label for="npm">NPM</label>
                <% } %>

                <p class="npm"><%= profile[0].nomorInduk %></p>

                <label for="nama">Nama Lengkap</label>
                <p class="nama"><%= profile[0].nama %></p>

                <label for="email">E-mail</label>
                <p class="email"><%= profile[0].email %></p>
            
            </form>
        </main>
    </center>
    
    
    
</body>

</html>