html, body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    font-family: "nunitoMedium";
    text-decoration: none;
}
@font-face {
    font-family: "nunitoMedium";
    src: url(../assets/nunito/Nunito-Medium.ttf);
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    background-color: #E5FAFC;
}
header{
    background-color: #F8FEFF;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: stretch;
    position: sticky;
    padding: 0 30px;
    border-bottom: 5px solid #425A7D;
    box-shadow: 10px -10px 16px black;
}
img{
    width: 50px;
    height: 50px;
    align-self: center;
}
.bar{
    display: flex;
}
.barpilihan{
    display: flex;
    margin: 0 25px;
}
.barpilihan > a{
    align-self: stretch;
    padding: 22px 25px;
}
.touch{
    background-color: #FFEAD9;
    box-shadow:0 5px 0 #E88431;
}
.barprofile{
    align-items: center;
    display: inline-flex;
    gap: 20px;
}


/* Bobot Nilai */
.dropdownContainerBobotNilai {
    display: inline-block;
    margin-right: 30px; 
    text-align: left;
}

.dropdownContainerBobotNilai select {
    padding: 4px 6px 4px 6px;
    width: 100%;
}

main {
    margin: 20px auto; 
    max-width: 800px;
    padding: 20px; 
}

table {
    text-align: center; 
    margin: 20px; 
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 5px; 
    border: 1px solid #666666;
}

th{
    background-color: #D9D9D9;
}

#noBobot{
    width:50px;
}

#komponenNilaiBobot{
    width:220px;
}

#bobotNilaiBobot{
    width: 150px;
}

.isiKomponenNilai{
    text-align: left;
}

.buttonContainer {
    text-align: center; 
    border: none;
    display: none;
}

.buttonContainer button {
    border: none;
    padding: 6px 18px;
    font-size: 14px;
    border-radius: 15px;
    
}

#cancelButton{
    background-color: #E7453C;
    color: #FFFFFF;
    margin-right: 100px;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
    cursor: pointer;
}

#submitButton{
    color: #FFFFFF;
    background-color: #3C6AA8;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
    cursor: pointer;
}

#noKosongBobotNilai{
    background-color: #466086;
}

#totalBobotNilai{
    font-weight: bold;
}

.inputBobot{
    border: #E5FAFC;
    background-color: #E5FAFC;
}

td input{
    background-color: #E5FAFC;
    align-items: center;
}

#table1{
    display: none;
}
#table2{
    display: none;
}
#tableNone{
    display: block;
    padding: 10px;
}