html, body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    font-family: "nunitoMedium";
    text-decoration: none;
}
@font-face {
    font-family: "nunitoMedium";
    src: url(../assets/nunito/Nunito-Medium.ttf);
}
@font-face {
    font-family: "nunitoBold";
    src: url(../assets/nunito/Nunito-Bold.ttf);
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
}

main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    background-color: #E5FAFC;
    padding: 40px 50px;
    gap: 60px;
}

.kiri{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.input{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
    padding-bottom: 15px;
    border-bottom: 1px solid #425A7D;
}

.result{
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 10px;
}

.kanan{
    display: flex;
    flex-direction: column;
    gap: 10px;
}

button{
    background-color: #3C6AA8;
    color: white;
    outline: none;
    font-family: "nunitoMedium";
    border: none;
    padding: 6px 3px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 2px 3px rgb(167, 167, 167);
}

.kiri button{
    grid-column-start: 2;
    justify-self: right;
    opacity: 0.5;
}

.buttons{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

.buttons button{
    opacity: 0.5;
}

textarea{
    height: 250px;
    resize: none;
    padding: 5px;
}

#catKosong{
    display: block;
    color: red;
}
