html, body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    font-family: "nunitoMedium";
    text-decoration: none;
}
@font-face {
    font-family: "nunitoMedium";
    src: url(../assets/nunito/Nunito-Medium.ttf);
}

body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    background-color: #E5FAFC;
}
header{
    background-color: #F8FEFF;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: stretch;
    position: sticky;
    padding: 0 30px;
    border-bottom: 5px solid #425A7D;
    box-shadow: 10px -10px 16px black;
}
img{
    width: 50px;
    height: 50px;
    align-self: center;
}
.bar{
    display: flex;
}
.barpilihan{
    display: flex;
    margin: 0 25px;
}
.barpilihan > a{
    align-self: stretch;
    padding: 22px 25px;
}
.touch{
    background-color: #FFEAD9;
    box-shadow:0 5px 0 #E88431;
}
.barprofile{
    align-items: center;
    display: inline-flex;
    gap: 20px;
}


/* Edit Nilai */
.dropdownContainerEditNilai {
    display: inline-block;
    margin-right: 30px; 
    text-align: left;
}
.dropdownContainerEditNilai select {
    padding: 4px 6px 4px 6px;
    width: 100%;
}

main {
    margin: 20px auto; 
    padding: 20px; 
}

table {
    width: 100%; 
    text-align: center; 
    margin: 20px; 
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 5px; 
    border: 1px solid #666666;
}

th{
    background-color: #D9D9D9;
}

#noEditNilai{
    width:50px;
}

#komponenNilaiEdit{
    width:220px;
}

#bobotNilaiEdit{
    width: 150px;
}

#nilaiEditNilai{
    width: 120px;
}

#nilaiAEditNilai{
    width: 150px;
}

.isiKomponenNilai{
    text-align: left;
}

.buttonContainer {
    text-align: center; 
    border: none;
}

.buttonContainer button {
    border: none;
    padding: 6px 18px;
    font-size: 14px;
    border-radius: 15px;
    text-align: center
    
}

#semesterDropdown{
    width: 150px;
    height: 30px;
}

#npmDropdown{
    width: 150px;
    height: 30px;
}

#skripsiDropdown{
    width: 50px;
    height: 30px;
}

#cancelButton{
    background-color: #E7453C;
    color: #FFFFFF;
    margin-right: 100px;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
    outline: none;
    font-family: "nunitoMedium";
    border: none;
    padding: 6px 3px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
}

#submitButton{
    background-color:  #3C6AA8;
    color: #FFFFFF;
    margin-right: 100px;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
    outline: none;
    font-family: "nunitoMedium";
    border: none;
    padding: 6px 3px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
}

#cari{
    opacity: 0.5;
}

form button{
    background-color: #3C6AA8;
    color: white;
    outline: none;
    font-family: "nunitoMedium";
    border: none;
    padding: 6px 3px;
    width: 70px;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px 2px 3px rgb(167, 167, 167);
}
.noKosongEditNilai{
    background-color: #466086;
}

#totalEditNilai{
    font-weight: bold;
}