html, body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    font-family: "nunitoMedium";
    text-decoration: none;
}
@font-face {
    font-family: "nunitoMedium";
    src: url(../assets/nunito/Nunito-Medium.ttf);
}
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    background-color: #E5FAFC;
}
header{
    background-color: #F8FEFF;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: stretch;
    position: sticky;
    padding: 0 30px;
    border-bottom: 5px solid #425A7D;
    box-shadow: 10px -10px 16px black;
}
img{
    width: 50px;
    height: 50px;
    align-self: center;
}
.bar{
    display: flex;
}
.barpilihan{
    display: flex;
    margin: 0 25px;
}
.barpilihan > a{
    align-self: stretch;
    padding: 22px 25px;
}
.touch{
    background-color: #FFEAD9;
    box-shadow:0 5px 0 #E88431;
}
.barprofile{
    align-items: center;
    display: inline-flex;
    gap: 20px;
}


/* Jadwal */
.dropdownContainerJadwal{
    display: inline-block;
    margin-right: 30px; 
    text-align: left;
}

.dropdownContainerJadwal select {
    padding: 4px 6px 4px 6px;
    width: 100%;
}

.buttonContainer button{
    display: inline-block;
    color: #FFFFFF;
    background-color: #3C6AA8;
    cursor: pointer;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
    border: none;
    padding: 6px 18px;
    font-size: 14px;
    border-radius: 15px;
}

.buttonContainer {
    display: flex;
    float: right;
    align-items: right;
    text-align: center; 
    border: none;
}

main {
    margin: 20px auto;
    padding: 10px; 
    width: 85%
}

table {
    text-align: center; 
    margin: 10px; 
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

th, td {
    padding: 5px; 
    border: 1px solid #666666;
}

th{
    background-color: #D9D9D9;
}

.skripsiKe{
    width:15%;
}

.tanggalSidang{
    width: 10%;
}

.waktuSidang{
    width: 5%;
}

.ruangSidang{
    width: 5%;
}

.npmMhsSidang{
    width: 10%;
}

.namaMhsSidang{
    width: 15%;
}

.judulSkripsi{
    width: 30%;
}

.detail{
    width: 5%;
    cursor: pointer;
}

.detail img{
    height: 25px;
    width: 25px;
}

/* Add Jadwal */
.box#addJadwal{
    position: fixed;
    padding-top: 30px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    display: None;  /*diubah menjadi flex ketika diklik tombol "+ Tambah"*/
}

/* .fill buat add dan detail */
.fill{
    background-color: #E5FAFC;
    margin: auto;
    width: 80%;
    padding: 50px;
}

#manual{
    display: flex;
    flex-direction: column;
}

#manual #inputForm{
    row-gap: 8px;
    padding: 20px;
    height: 400px;
    width: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 200px 400px;
    align-items: center;
    justify-content: center;
}

#inputForm .label{
    width: 200px;
    display: flex;
    justify-content: left;
    align-items: left;
    grid-column: 1;
}
#inputForm .input{
    background-color: white;
    width: auto;
    grid-column: 2;
    border: 1px solid #666666;;
}

.buttonContainer button {
    border: none;
    padding: 6px 18px;
    font-size: 14px;
    border-radius: 15px;
}

.buttonContainer#batalUnggah{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
}

button#batal{
    background-color: #E7453C;
}

/* Detail Jadwal */
.box#detailJadwal{
    position: fixed;
    padding-top: 30px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto;
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
    display: None; /* diubah menjadi flex ketika diklik "salah satu jadwal" */
}

#detail{
    row-gap: 8px;
    padding: 20px;
    height: 400px;
    width: auto;
    text-align: center;
    display: grid;
    grid-template-columns: 200px 400px;
    align-items: center;
    justify-content: center;
}

#detail .label{
    width: 200px;
    display: flex;
    justify-content: left;
    align-items: left;
    grid-column: 1;
}
#detail .isi{
    background-color: white;
    width: auto;
    text-align: left;
    padding-left: 10px;
    grid-column: 2;
}