html, body{
    width: 100%;
    height: 100%;
}
*{ 
    margin: 0;
    font-family: "nunitoMedium";
    text-decoration: none;
}
@font-face {
    font-family: "nunitoMedium";
    src: url(../assets/nunito/Nunito-Medium.ttf);
}
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    background-color: #E5FAFC;
}
header{
    background-color: #F8FEFF;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: stretch;
    position: sticky;
    padding: 0 30px;
    border-bottom: 5px solid #425A7D;
    box-shadow: 10px -10px 16px black;
}
img{
    width: 50px;
    height: 50px;
    align-self: center;
}
.bar{
    display: flex;
}
.barpilihan{
    display: flex;
    margin: 0 25px;
}
.barpilihan > a{
    align-self: stretch;
    padding: 22px 25px;
}
.touch{
    background-color: #FFEAD9;
    box-shadow:0 5px 0 #E88431;
}
.barprofile{
    align-items: center;
    display: inline-flex;
    gap: 20px;
}


/* Jadwal */
.dropdownContainerJadwal{
    display: inline-block;
    margin-right: 30px; 
    text-align: left;
}

.dropdownContainerJadwal select {
    padding: 4px 6px 4px 6px;
    width: 100%;
}

#addButton{
    display: inline-block;
    color: #FFFFFF;
    background-color: #3C6AA8;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);
}

.buttonContainer {
    display: inline-block;
    align-items: right;
    text-align: center; 
    border: none;
}

main {
    margin: 20px auto; 
    max-width: max-content;
    padding: 20px; 
}

h1{
    text-align: center;
    padding-bottom: 10px; 
}

table {
    width: 100%; 
    text-align: center; 
    margin: 20px; 
    border-collapse: collapse;
    border-spacing: 0;
}

th, td {
    padding: 5px; 
    border: 1px solid #666666;
}

th{
    background-color: #D9D9D9;
}

#noSidang{
    width:5%;
}

#skripsiKe{
    width:10%;
}

#thnAkademik{
    width: 5%;
}

#tanggalSidang{
    width: 10%;
}

#waktuSidang{
    width: 10%;
}

#ruangSidang{
    width: 5%;
}

#npmMhsSidang{
    width: 10%;
}

#namaMhsSidang{
    width: 20%;
}

#judulSkripsi{
    width: 25%;
}
#upload{
    width: 25%;
}
#download{
    width: 25%;
}