
html, body{
    width: 100%;
    height: 100%;
}

*{
    margin: 0;
    font-family: "nunitoMedium";
    text-decoration: none;
}
@font-face {
    font-family: "nunitoMedium";
    src: url(../assets/nunito/Nunito-Medium.ttf);
}

body{
    background-color: #E5FAFC;
    display: flex;
    align-items: center;
    justify-content: center;
}
form{
    align-items: center;
    background-color: #c6e7ed;
    border-radius: 10px;
    row-gap: 8px;
    padding: 60px;
    width: 450px;
    text-align: center;
    box-shadow: 5px 5px 10px rgb(185, 185, 185);

    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 60px 30px 1fr 1fr 1fr;
}
#head{
    display: flex;
    justify-content: center;
    align-items: center;
}
h2{
    grid-column-start: 1;
    grid-column-end: 3;
    padding-right: 5px;
}
img{
    height: 50px;
}
p{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: smaller;
}
button{
    grid-column-start: 1;
    grid-column-end: 3;
    background-color: #425A7D;
    border: none;
    height: 35px;
    cursor: pointer;
    color: white;
}
input{
    border: none;
    padding: 8px 15px;
    align-self: stretch;
}
label{
    text-align: left;
    background-color: #425A7D;
    padding: 8px 15px;
    color: white;
}
div{
    grid-column-start: 1;
    grid-column-end: 3;
    font-size: smaller;
}
#kode{
    height: 10px;
    width: 10px;
    margin: 0 5px;
    border-radius: 5px;
    padding: 20px;
}
#submit{
    grid-row-start: 6;
}
@font-face {
    font-family: "nunito-medium";
    src: url(../assets/nunito/Nunito-Medium.ttf);
}
#error{
    font-size: smaller;
    color: red;
}