html, body{
    width: 100%;
    height: 100%;
}
*{
    margin: 0;
    font-family: "nunitoMedium";
    text-decoration: none;
}
@font-face {
    font-family: "nunitoMedium";
    src: url(../assets/nunito/Nunito-Medium.ttf);
}
body{
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 70px 1fr;
    background-color: #E5FAFC;
}
header{
    background-color: #F8FEFF;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    align-items: stretch;
    position: sticky;
    padding: 0 30px;
    border-bottom: 5px solid #425A7D;
    box-shadow: 10px -10px 16px black;
}
img{
    width: 50px;
    height: 50px;
    align-self: center;
}
.bar{
    display: flex;
}
.barpilihan{
    display: flex;
    margin: 0 25px;
}
.barpilihan > a{
    align-self: stretch;
    padding: 22px 25px;
}
.touch{
    background-color: #FFEAD9;
    box-shadow:0 5px 0 #E88431;
}
.barprofile{
    align-items: center;
    display: inline-flex;
    gap: 20px;
}


/* profil */

main{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1{
    padding-bottom: 10px;
} 

center{
    padding: 40px 50px;
}

form{
    align-items: center;
    row-gap: 8px;
    
    width: 450px;
    text-align: center;

    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-template-rows: 4fr, 1fr, 1fr, 1fr;
    font-family: "nunito-medium";
   

}

.npm{
    border: none;
    padding: 8px 15px;
    align-self: stretch;
    background-color: white;
}
.nama{
    border: none;
    padding: 8px 15px;
    align-self: stretch;
    background-color: white;
}
.email{
    border: none;
    padding: 8px 15px;
    align-self: stretch;
    background-color: white;
}
form>[name="npm"]{
    background-color: rgb(229 221 255);
}
form>[name="nama"]{
    background-color: rgb(229 221 255);
}
form>[name="email"]{
    background-color: rgb(229 221 255);
}
label{
    text-align: left;
    color: #F8FEFF;
    background-color: #425A7D;
    padding: 8px 15px;
}
form div{
    grid-column-start: 1;
    grid-column-end: 3;
    padding: 10px 0;
}